@font-face {
    font-family: Coves;
    src: url(./font/Coves.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#particles-js {
    height: 100%;
    width: 100%;
}

#myWeb {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1366px;
    height: 2205px;
}

#finalpic {
    border-radius: 50%;
    position: absolute;
    width: 210px;
    height: 210px;
    left: 121px;
    top: 115px;
    overflow: visible;
}

#firstcanvas {
    position: absolute;
    overflow: visible;
    width: 340px;
    height: 505px;
    left: 121px;
    top: 385px;
}

#hello_world {
    position: absolute;
    left: 375px;
    top: 115px;
    overflow: visible;
    width: 330px;
    white-space: nowrap;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 80px;
    color: rgba(112, 112, 112, 1);
}

#my_name {
    position: absolute;
    left: 375px;
    top: 198px;
    overflow: visible;
    width: 228px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -4px;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
}

#description {
    position: absolute;
    left: 624px;
    top: 565px;
    overflow: visible;
    width: 622px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -4px;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
}

.footerline {
    overflow: visible;
    position: absolute;
    width: 1317px;
    height: 1px;
    left: 24.5px;
    top: 1920px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ping_me {
    position: absolute;
    left: 142px;
    top: 1950px;
    overflow: visible;
    width: 124px;
    white-space: nowrap;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
}

#mail {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 142px;
    top: 2000px;
    overflow: visible;
}

#mail_text {
    position: absolute;
    left: 190px;
    top: 2005px;
    overflow: visible;
    width: 215px;
    white-space: nowrap;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}

#github {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 142px;
    top: 2040px;
    overflow: visible;
}

#github_username {
    position: absolute;
    left: 190px;
    top: 2045px;
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}

#linkedin {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 142px;
    top: 2080px;
    overflow: visible;
}

#linkedin_text {
    position: absolute;
    left: 190px;
    top: 2085px;
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}

#cv {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 142px;
    top: 2120px;
    overflow: visible;
}

#cv_text {
    position: absolute;
    left: 190px;
    top: 2125px;
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}

#disclaimer {
    position: absolute;
    left: 895px;
    top: 1985px;
    overflow: visible;
    width: 351px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -4px;
    text-align: right;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
}

#articleheader {
    position: absolute;
    left: 121px;
    top: 1453px;
    width: 1124px;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 80px;
    color: rgba(112, 112, 112, 1);
}

#secondcanvas {
    position: absolute;
    overflow: visible;
    width: 340px;
    height: 505px;
    left: 905px;
    top: 890px;
}

#hobbies {
    position: absolute;
    left: 121px;
    top: 1070px;
    overflow: visible;
    width: 622px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -4px;
    text-align: left;
    font-family: Coves;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
  
.scrollmenu article_card {
    display: inline-block;
    color: rgba(112, 112, 112, 1);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
}

.imag {
    max-height: 280px;
    box-shadow: 0px 0px 10px black;
}
